<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="num1" value="val1100"/>
		<add key="num2" value="val1200"/>
	</appSettings>

	<!--
	<configSections>
		<section name="mySettings1" type="myproject.Libraries.MySettings1"/>
		<section name="mySettings2" type="myproject.Libraries.MySettings2"/>
	</configSections>

	<mySettings1 key1="name" key2="address"/>
	<mySettings2 key1="rollno" key2="pin"/>
	-->

	<connectionStrings>
		<clear/>
		<add name="SQLStudentDB"
		connectionString ="data source=LAPTOP-BMALL679\SQLEXPRESS;database=student;integrated security=SSPI"/>
		
		<!--
		<add name="OracleStudentDB"
		connectionString ="data source=LAPTOP-BMALL679\Oracle;database=student;integrated security=SSPI"/>
		-->
	</connectionStrings>
</configuration>